<h3>Please fill out the fields below</h3>

<mat-card>
  <mat-card-content>
    <p>What sector of news interests you?</p>
    <mat-form-field>
      <mat-label>Ex. Technology</mat-label>
      <input matInput [(ngModel)]="Category">
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <p>Anything particularly in that field?</p>
    <mat-form-field>
      <mat-label>Ex. Crypto</mat-label>
      <input matInput [(ngModel)]="Query">
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <p>When do you want your news to be around?</p>
    <mat-form-field>
      <mat-label>Ex: 7/08/2022</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="Dates">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <button mat-flat-button color="warn" (click)="sendData()">Save User Preferences</button>
</mat-card>



