h3, p{
  font-family: Georgia;
  text-align: center;
}

mat-form-field{
  display:flex;
  justify-content: center;
}

mat-card-content{
  display: grid;
  grid-auto-rows: 30px 30px;
  padding-bottom: 15px;
}

button{
  margin-left: 540px;
}
